openapi: 3.1.0
info:
  title: TS Phone API
  version: 0.5.0
servers:
  - url: https://tsphone.iawnix.xyz
security:
  - bearerAuth: []
paths:
  /healthz:
    get:
      operationId: health
      security: []
      responses:
        "200":
          description: Process health only
          content:
            application/json:
              schema:
                type: object
                required: [ok, service, version]
                properties:
                  ok: { const: true }
                  service: { const: ts-phone }
                  version: { const: ts-phone-api/3 }
                additionalProperties: false
  /api/v3/version:
    get:
      operationId: getVersion
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v3/workspaces:
    get:
      operationId: listWorkspaces
      responses:
        "200":
          description: Registered TSPi workspaces and aggregate live-session state
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Workspace" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v3/workspaces/{workspaceId}:
    get:
      operationId: getWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v3/workspaces/{workspaceId}/sessions:
    get:
      operationId: listSessions
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Live and workspace-local persisted Pi sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Session" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v3/workspaces/{workspaceId}/sessions/{sessionId}/messages:
    get:
      operationId: getMessages
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - name: before
          in: query
          required: false
          description: Return the page immediately before this stable Pi message-entry id
          schema:
            type: string
            pattern: "^[0-9a-f]{8}$"
        - name: limit
          in: query
          required: false
          description: Maximum messages in this page; the 6 MiB response bound may reduce it further
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 500
      responses:
        "200":
          description: Bounded live or read-only disk-history snapshot and matching SSE checkpoint
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MessageSnapshot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
    post:
      operationId: sendMessage
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientMessageId, sessionRevision, message]
              properties:
                clientMessageId: { $ref: "#/components/schemas/BoundedId" }
                sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
                message:
                  type: string
                  minLength: 1
                  maxLength: 65536
              additionalProperties: false
      responses:
        "202": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
        "504":
          description: Command outcome is ambiguous and must not be retried automatically
  /api/v3/workspaces/{workspaceId}/sessions/{sessionId}/abort:
    post:
      operationId: abortGeneration
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionRevision]
              properties:
                sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
              additionalProperties: false
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
  /api/v3/workspaces/{workspaceId}/sessions/{sessionId}/timeline:
    get:
      operationId: getTimeline
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - name: before
          in: query
          required: false
          description: Return the page immediately before this stable Pi entry id
          schema:
            type: string
            pattern: "^[0-9a-f]{8}$"
        - name: limit
          in: query
          required: false
          description: Maximum messages and projected activities in this page
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 500
        - name: branch
          in: query
          required: false
          description: Select one Pi leaf entry; omitted means the active branch
          schema:
            type: string
            pattern: "^[0-9a-f]{8}$"
      responses:
        "200":
          description: Safe, bounded conversation and research-activity timeline
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/TimelineSnapshot" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
  /api/v3/workspaces/{workspaceId}/sessions/{sessionId}/events:
    get:
      operationId: streamEvents
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Session-scoped SSE stream with 15-second heartbeats
          content:
            text/event-stream:
              schema: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v3/workspaces/{workspaceId}/sessions/{sessionId}/approvals/{approvalId}:
    post:
      operationId: respondToApproval
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - name: approvalId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/BoundedId" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approved, sessionRevision]
              properties:
                approved: { type: boolean }
                sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
              additionalProperties: false
      responses:
        "202": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Za-z0-9][A-Za-z0-9._-]{0,79}$"
    sessionId:
      name: sessionId
      in: path
      required: true
      schema: { $ref: "#/components/schemas/BoundedId" }
  schemas:
    Envelope:
      type: object
      required: [apiVersion, data]
      properties:
        apiVersion: { const: ts-phone-api/3 }
        data: {}
      additionalProperties: false
    ErrorEnvelope:
      type: object
      required: [apiVersion, error]
      properties:
        apiVersion: { const: ts-phone-api/3 }
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
          additionalProperties: false
      additionalProperties: false
    BoundedId:
      type: string
      pattern: "^[A-Za-z0-9._:-]{1,160}$"
    SessionRevision:
      type: string
      pattern: "^[0-9a-f-]{36}$"
    RuntimeState:
      enum: [offline, connecting, idle, running, recovery_required]
    SessionCapability:
      enum:
        - history.messages
        - history.timeline
        - history.pagination
        - history.branches
        - activity.tools
        - activity.subagents
        - activity.research
        - command.prompt
        - command.abort
        - interaction.approval
    Workspace:
      type: object
      required: [id, name, runtimeState, isStreaming, liveSessionCount, sessionCount]
      properties:
        id: { type: string }
        name: { type: string }
        runtimeState: { $ref: "#/components/schemas/RuntimeState" }
        isStreaming: { type: boolean }
        liveSessionCount: { type: integer, minimum: 0 }
        sessionCount: { type: integer, minimum: 0 }
      additionalProperties: false
    Session:
      type: object
      required: [sessionId, sessionRevision, runtimeState, isStreaming, accessMode, capabilities]
      properties:
        sessionId: { $ref: "#/components/schemas/BoundedId" }
        sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
        sessionName: { type: string }
        model: { type: string }
        runtimeState: { $ref: "#/components/schemas/RuntimeState" }
        isStreaming: { type: boolean }
        accessMode: { enum: [controller, observer] }
        historyAvailable:
          type: boolean
          description: A validated workspace-local Pi JSONL history exists
        historyOnly:
          type: boolean
          description: The session is currently a read-only disk-history view
        canPrompt:
          type: boolean
          description: A live Bridge currently accepts session commands
        capabilities:
          type: array
          uniqueItems: true
          items: { $ref: "#/components/schemas/SessionCapability" }
      additionalProperties: false
    MessageSnapshot:
      type: object
      required: [sessionId, sessionRevision, messages, hasMore, lastEventId]
      properties:
        sessionId: { $ref: "#/components/schemas/BoundedId" }
        sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
        messages:
          type: array
          maxItems: 500
          items: {}
        messageIds:
          type: array
          maxItems: 500
          description: Stable Pi message-entry ids aligned one-to-one with messages when the Bridge supports pagination
          items:
            type: string
            pattern: "^[0-9a-f]{8}$"
        hasMore:
          type: boolean
          description: More projected messages exist before this page
        nextBefore:
          type: string
          pattern: "^[0-9a-f]{8}$"
          description: Cursor for the next earlier page; present exactly when hasMore is true
        lastEventId:
          type: string
          minLength: 1
      additionalProperties: false
    TimelineActivity:
      type: object
      required: [category, status, title]
      properties:
        category:
          enum: [subagent, research, review, workspace, configuration, context, system]
        status:
          enum: [completed, failed, recorded]
        title: { type: string, minLength: 1, maxLength: 160 }
        role: { type: string, maxLength: 100 }
        operation: { type: string, maxLength: 160 }
        nodeRefs:
          type: array
          maxItems: 24
          items: { type: string, maxLength: 160 }
        detail: { type: string, maxLength: 500 }
        stage: { type: string, maxLength: 160 }
        durationMs: { type: integer, minimum: 0 }
        totalTokens: { type: integer, minimum: 0 }
        retrySafe: { type: boolean }
        reference: { type: string, maxLength: 500 }
        at: { type: string, format: date-time }
      additionalProperties: false
    TimelineItem:
      oneOf:
        - type: object
          required: [id, kind, message]
          properties:
            id: { type: string, pattern: "^[0-9a-f]{8}$" }
            turnId: { type: string, pattern: "^[0-9a-f]{8}$" }
            kind: { const: message }
            message: {}
          additionalProperties: false
        - type: object
          required: [id, kind, activity]
          properties:
            id: { type: string, pattern: "^[0-9a-f]{8}$" }
            turnId: { type: string, pattern: "^[0-9a-f]{8}$" }
            kind: { const: activity }
            activity: { $ref: "#/components/schemas/TimelineActivity" }
          additionalProperties: false
    TimelineBranch:
      type: object
      required: [id, active, itemCount, messageCount, activityCount, turnCount]
      properties:
        id: { type: string, pattern: "^[0-9a-f]{8}$" }
        active: { type: boolean }
        itemCount: { type: integer, minimum: 0 }
        messageCount: { type: integer, minimum: 0 }
        activityCount: { type: integer, minimum: 0 }
        turnCount: { type: integer, minimum: 0 }
        name: { type: string, maxLength: 500 }
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    TimelineHistory:
      type: object
      required: [totalItems, messageCount, activityCount, turnCount, branchCount, branches]
      properties:
        totalItems: { type: integer, minimum: 0 }
        messageCount: { type: integer, minimum: 0 }
        activityCount: { type: integer, minimum: 0 }
        turnCount: { type: integer, minimum: 0 }
        branchCount: { type: integer, minimum: 0, maximum: 128 }
        activeBranchId: { type: string, pattern: "^[0-9a-f]{8}$" }
        selectedBranchId: { type: string, pattern: "^[0-9a-f]{8}$" }
        branches:
          type: array
          maxItems: 128
          items: { $ref: "#/components/schemas/TimelineBranch" }
      additionalProperties: false
    TimelineSnapshot:
      type: object
      required:
        - schemaVersion
        - sessionId
        - sessionRevision
        - items
        - history
        - hasMore
        - lastEventId
        - capabilities
      properties:
        schemaVersion: { const: ts-phone-timeline/1 }
        sessionId: { $ref: "#/components/schemas/BoundedId" }
        sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
        items:
          type: array
          maxItems: 500
          items: { $ref: "#/components/schemas/TimelineItem" }
        history: { $ref: "#/components/schemas/TimelineHistory" }
        hasMore: { type: boolean }
        nextBefore: { type: string, pattern: "^[0-9a-f]{8}$" }
        lastEventId: { type: string, minLength: 1 }
        capabilities:
          type: array
          uniqueItems: true
          items: { $ref: "#/components/schemas/SessionCapability" }
      additionalProperties: false
  responses:
    Success:
      description: Authenticated request succeeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Envelope" }
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    NotFound:
      description: Workspace, session, endpoint, or approval not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    SessionConflict:
      description: Session is offline, connecting, stale, or requires resynchronization
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
