openapi: 3.1.0
info:
  title: TS Phone API
  version: 0.8.0
servers:
  - url: https://tsphone.iawnix.xyz
security:
  - bearerAuth: []
paths:
  /healthz:
    get:
      operationId: health
      security: []
      responses:
        "200":
          description: Process health only
          content:
            application/json:
              schema:
                type: object
                required: [ok, service, version]
                properties:
                  ok: { const: true }
                  service: { const: ts-phone }
                  version: { const: ts-phone-api/4 }
                additionalProperties: false
  /api/v4/version:
    get:
      operationId: getVersion
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v4/workspaces:
    get:
      operationId: listWorkspaces
      parameters:
        - $ref: "#/components/parameters/lifecycleState"
      responses:
        "200":
          description: Registered TSPi workspaces and aggregate live-session state
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Workspace" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { $ref: "#/components/schemas/DisplayName" }
              additionalProperties: false
      responses:
        "201": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v4/workspaces/{workspaceId}:
    get:
      operationId: getWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      operationId: renameWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        $ref: "#/components/requestBodies/Rename"
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
  /api/v4/workspaces/{workspaceId}/archive:
    post:
      operationId: archiveWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody: { $ref: "#/components/requestBodies/Lifecycle" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/restore:
    post:
      operationId: restoreWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody: { $ref: "#/components/requestBodies/Lifecycle" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/trash:
    post:
      operationId: trashWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody: { $ref: "#/components/requestBodies/Lifecycle" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" }, "503": { $ref: "#/components/responses/ServiceUnavailable" } }
  /api/v4/workspaces/{workspaceId}/purge:
    post:
      operationId: purgeWorkspace
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody: { $ref: "#/components/requestBodies/Purge" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" }, "503": { $ref: "#/components/responses/ServiceUnavailable" } }
  /api/v4/workspaces/{workspaceId}/deletion-preflight:
    get:
      operationId: workspaceDeletionPreflight
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Deterministic project deletion blockers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/WorkspaceDeletionPreflight" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /api/v4/workspaces/{workspaceId}/sessions:
    get:
      operationId: listSessions
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/lifecycleState"
      responses:
        "200":
          description: Live and workspace-local persisted Pi sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Session" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      operationId: createSession
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessMode]
              properties:
                name: { $ref: "#/components/schemas/DisplayName" }
                model: { type: string, minLength: 1, maxLength: 200, pattern: "^[A-Za-z0-9][A-Za-z0-9._:/-]*$" }
                accessMode: { enum: [controller, observer] }
              additionalProperties: false
      responses:
        "201": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409": { $ref: "#/components/responses/SessionConflict" }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}:
    patch:
      operationId: renameSession
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody: { $ref: "#/components/requestBodies/Rename" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/archive:
    post:
      operationId: archiveSession
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody: { $ref: "#/components/requestBodies/Lifecycle" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/restore:
    post:
      operationId: restoreSession
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody: { $ref: "#/components/requestBodies/Lifecycle" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/trash:
    post:
      operationId: trashSession
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody: { $ref: "#/components/requestBodies/Lifecycle" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/purge:
    post:
      operationId: purgeSession
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody: { $ref: "#/components/requestBodies/Purge" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" } }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/activate:
    post:
      operationId: activateSession
      description: Explicitly start or rejoin the same conversation. With session.activate_mode, choose controller or observer; no prompt is sent. Conflicts require a revision-bound switchFrom. Unknown launches and busy or external owners cannot be stopped. Omitted mode retains the saved preference for older clients.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody: { $ref: "#/components/requestBodies/Activation" }
      responses: { "200": { $ref: "#/components/responses/Success" }, "409": { $ref: "#/components/responses/SessionConflict" }, "502": { $ref: "#/components/responses/ServiceUnavailable" }, "504": { $ref: "#/components/responses/ServiceUnavailable" } }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/messages:
    get:
      operationId: getMessages
      description: Omit all position parameters for the tail. With history.seek, choose only one of before, after, or edge.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - $ref: "#/components/parameters/historyAfter"
        - $ref: "#/components/parameters/historyEdge"
        - name: before
          in: query
          required: false
          description: Return the page immediately before this stable Pi message-entry id
          schema:
            type: string
            pattern: "^[0-9a-f]{8}$"
        - name: limit
          in: query
          required: false
          description: Maximum messages in this page; the 6 MiB response bound may reduce it further
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 500
      responses:
        "200":
          description: Bounded live or read-only disk-history snapshot and matching SSE checkpoint
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MessageSnapshot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
    post:
      operationId: sendMessage
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientMessageId, sessionRevision, message]
              properties:
                clientMessageId: { $ref: "#/components/schemas/BoundedId" }
                sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
                message:
                  type: string
                  minLength: 1
                  maxLength: 65536
              additionalProperties: false
      responses:
        "202": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
        "504":
          description: Command outcome is ambiguous and must not be retried automatically
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/abort:
    post:
      operationId: abortGeneration
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionRevision, agentRunId]
              properties:
                sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
                agentRunId: { $ref: "#/components/schemas/BoundedId" }
              additionalProperties: false
      responses:
        "200": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/timeline:
    get:
      operationId: getTimeline
      description: Omit all position parameters for the branch tail. With history.seek, choose only one of before, after, or edge.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - $ref: "#/components/parameters/historyAfter"
        - $ref: "#/components/parameters/historyEdge"
        - name: before
          in: query
          required: false
          description: Return the page immediately before this stable Pi entry id
          schema:
            type: string
            pattern: "^[0-9a-f]{8}$"
        - name: limit
          in: query
          required: false
          description: Maximum messages and projected activities in this page
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 500
        - name: branch
          in: query
          required: false
          description: Select one Pi leaf entry; omitted means the active branch
          schema:
            type: string
            pattern: "^[0-9a-f]{8}$"
      responses:
        "200":
          description: Safe, bounded conversation and research-activity timeline
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/TimelineSnapshot" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/events:
    get:
      operationId: streamEvents
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Session-scoped SSE stream with 15-second heartbeats
          content:
            text/event-stream:
              schema: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v4/workspaces/{workspaceId}/sessions/{sessionId}/approvals/{approvalId}:
    post:
      operationId: respondToApproval
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/sessionId"
        - name: approvalId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/BoundedId" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approved, sessionRevision]
              properties:
                approved: { type: boolean }
                sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
              additionalProperties: false
      responses:
        "202": { $ref: "#/components/responses/Success" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/SessionConflict" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    historyAfter:
      name: after
      in: query
      required: false
      description: Return the page immediately after this stable Pi entry id; exclusive with before and edge
      schema: { type: string, pattern: "^[0-9a-f]{8}$" }
    historyEdge:
      name: edge
      in: query
      required: false
      description: Read the first bounded page, not the entire history; exclusive with before and after
      schema: { type: string, enum: [start] }
    lifecycleState:
      name: state
      in: query
      required: false
      schema: { $ref: "#/components/schemas/LifecycleState" }
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Za-z0-9][A-Za-z0-9._-]{0,79}$"
    sessionId:
      name: sessionId
      in: path
      required: true
      schema: { $ref: "#/components/schemas/BoundedId" }
  schemas:
    Envelope:
      type: object
      required: [apiVersion, data]
      properties:
        apiVersion: { const: ts-phone-api/4 }
        data: {}
      additionalProperties: false
    ErrorEnvelope:
      type: object
      required: [apiVersion, error]
      properties:
        apiVersion: { const: ts-phone-api/4 }
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
          additionalProperties: false
      additionalProperties: false
    BoundedId:
      type: string
      pattern: "^[A-Za-z0-9._:-]{1,160}$"
    SessionRevision:
      type: string
      pattern: "^[0-9a-f-]{36}$"
    ManagementRevision:
      oneOf:
        - { const: unmanaged }
        - { type: string, format: uuid }
    LifecycleState:
      enum: [active, archived, trashed]
    DisplayName:
      type: string
      minLength: 1
      maxLength: 120
    ActiveAgentRunId:
      oneOf:
        - { $ref: "#/components/schemas/BoundedId" }
        - { type: "null" }
    RuntimeState:
      enum: [offline, connecting, idle, running, recovery_required]
    SessionCapability:
      enum:
        - history.messages
        - history.timeline
        - history.pagination
        - history.seek
        - history.branches
        - activity.tools
        - activity.subagents
        - activity.research
        - command.prompt
        - command.abort
        - interaction.approval
        - session.activate_mode
    Workspace:
      type: object
      required: [id, name, runtimeState, isStreaming, liveSessionCount, sessionCount, lifecycleState, managementRevision, managed]
      properties:
        id: { type: string }
        name: { type: string }
        runtimeState: { $ref: "#/components/schemas/RuntimeState" }
        isStreaming: { type: boolean }
        liveSessionCount: { type: integer, minimum: 0, description: Live sessions whose lifecycle is active }
        sessionCount: { type: integer, minimum: 0, description: Sessions whose lifecycle is active; excludes archived and trashed }
        lifecycleState: { $ref: "#/components/schemas/LifecycleState" }
        managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
        managed: { type: boolean }
        updatedAt: { type: string, format: date-time }
        deletedAt: { type: string, format: date-time }
      additionalProperties: false
    Session:
      type: object
      required: [sessionId, sessionRevision, activeAgentRunId, runtimeState, isStreaming, accessMode, capabilities, lifecycleState, managementRevision, managed, canActivate]
      properties:
        sessionId: { $ref: "#/components/schemas/BoundedId" }
        sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
        activeAgentRunId: { $ref: "#/components/schemas/ActiveAgentRunId" }
        sessionName: { type: string }
        model: { type: string }
        promptProblem:
          enum: [model_unavailable, model_auth_missing, model_storage_unavailable, model_check_failed]
          description: Local model readiness failure; independent of Phone Bearer authentication
        runtime: { $ref: "#/components/schemas/SessionRuntime" }
        runtimeState: { $ref: "#/components/schemas/RuntimeState" }
        isStreaming: { type: boolean }
        accessMode: { enum: [controller, observer] }
        currentAccessMode:
          enum: [controller, observer, null]
          description: Verified live authority, null without a ready runtime; accessMode alone may be a saved preference
        runtimeOwner: { enum: [host, external, null] }
        activation: { $ref: "#/components/schemas/SessionActivation" }
        historyAvailable:
          type: boolean
          description: A validated workspace-local Pi JSONL history exists
        historyOnly:
          type: boolean
          description: The session is currently a read-only disk-history view
        canPrompt:
          type: boolean
          description: The active session has a live Bridge and no known local model readiness failure
        capabilities:
          type: array
          uniqueItems: true
          items: { $ref: "#/components/schemas/SessionCapability" }
        lifecycleState: { $ref: "#/components/schemas/LifecycleState" }
        managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
        managed: { type: boolean }
        canActivate: { type: boolean }
        updatedAt: { type: string, format: date-time }
        deletedAt: { type: string, format: date-time }
      additionalProperties: false
    SessionActivation:
      type: object
      required: [modes]
      properties:
        modes:
          type: array
          uniqueItems: true
          items: { enum: [controller, observer] }
        problem: { $ref: "#/components/schemas/BoundedId" }
        conflict:
          type: object
          required: [sessionId, sessionRevision, owner, switchable]
          properties:
            sessionId: { $ref: "#/components/schemas/BoundedId" }
            sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
            sessionName: { type: string }
            owner: { enum: [host, external] }
            switchable: { type: boolean }
          additionalProperties: false
      additionalProperties: false
    ActivationInput:
      type: object
      required: [managementRevision]
      properties:
        managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
        accessMode: { enum: [controller, observer] }
        requestId:
          allOf: [{ $ref: "#/components/schemas/BoundedId" }]
          description: Scoped to workspace and session within this Host generation; equal requests share an outcome, changed parameters are rejected. At 1000 remembered starts new IDs require Host maintenance. Not a durable prompt receipt.
        switchFrom:
          type: object
          required: [sessionId, sessionRevision]
          properties:
            sessionId: { $ref: "#/components/schemas/BoundedId" }
            sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
          additionalProperties: false
      additionalProperties: false
    WorkspaceDeletionPreflight:
      type: object
      required: [workspaceId, managementRevision, activeWorkers, remoteCalculations, pendingApprovals, unresolvedRemoteEffects, canDelete]
      properties:
        workspaceId: { type: string }
        managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
        activeWorkers: { type: integer, minimum: 0 }
        remoteCalculations: { type: integer, minimum: 0 }
        pendingApprovals: { type: integer, minimum: 0 }
        unresolvedRemoteEffects: { type: integer, minimum: 0 }
        canDelete: { type: boolean }
      additionalProperties: false
    SessionRuntime:
      type: object
      required: [schemaVersion, model, updatedAt]
      properties:
        schemaVersion: { const: ts-phone-session-runtime/1 }
        model:
          type: object
          required: [provider, id]
          properties:
            provider: { type: string, minLength: 1, maxLength: 160 }
            id: { type: string, minLength: 1, maxLength: 240 }
          additionalProperties: false
        context:
          type: object
          required: [usedTokens, limitTokens, measurement]
          properties:
            usedTokens:
              oneOf:
                - { type: integer, minimum: 0 }
                - { type: "null" }
            limitTokens: { type: integer, minimum: 1 }
            measurement: { const: pi_estimate }
          additionalProperties: false
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    MessageSnapshot:
      type: object
      required: [sessionId, sessionRevision, activeAgentRunId, messages, hasMore, lastEventId]
      properties:
        sessionId: { $ref: "#/components/schemas/BoundedId" }
        sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
        activeAgentRunId: { $ref: "#/components/schemas/ActiveAgentRunId" }
        messages:
          type: array
          maxItems: 500
          items: {}
        messageIds:
          type: array
          maxItems: 500
          description: Stable Pi message-entry ids aligned one-to-one with messages when the Bridge supports pagination
          items:
            type: string
            pattern: "^[0-9a-f]{8}$"
        hasMore:
          type: boolean
          description: More projected messages exist before this page
        nextBefore:
          type: string
          pattern: "^[0-9a-f]{8}$"
          description: Cursor for the next earlier page; present exactly when hasMore is true
        hasLater:
          type: boolean
          default: false
          description: More projected messages exist after this page
        nextAfter:
          type: string
          pattern: "^[0-9a-f]{8}$"
          description: Cursor for the next later page; present exactly when hasLater is true
        lastEventId:
          type: string
          minLength: 1
      additionalProperties: false
    TimelineActivity:
      type: object
      required: [category, status, title]
      properties:
        category:
          enum: [subagent, research, review, workspace, configuration, context, system]
        status:
          enum: [completed, failed, recorded]
        title: { type: string, minLength: 1, maxLength: 160 }
        role: { type: string, maxLength: 100 }
        operation: { type: string, maxLength: 160 }
        nodeRefs:
          type: array
          maxItems: 24
          items: { type: string, maxLength: 160 }
        detail: { type: string, maxLength: 500 }
        stage: { type: string, maxLength: 160 }
        durationMs: { type: integer, minimum: 0 }
        totalTokens: { type: integer, minimum: 0 }
        retrySafe: { type: boolean }
        reference: { type: string, maxLength: 500 }
        at: { type: string, format: date-time }
      additionalProperties: false
    TimelineItem:
      oneOf:
        - type: object
          required: [id, kind, message]
          properties:
            id: { type: string, pattern: "^[0-9a-f]{8}$" }
            turnId: { type: string, pattern: "^[0-9a-f]{8}$" }
            kind: { const: message }
            message: {}
          additionalProperties: false
        - type: object
          required: [id, kind, activity]
          properties:
            id: { type: string, pattern: "^[0-9a-f]{8}$" }
            turnId: { type: string, pattern: "^[0-9a-f]{8}$" }
            kind: { const: activity }
            activity: { $ref: "#/components/schemas/TimelineActivity" }
          additionalProperties: false
    TimelineBranch:
      type: object
      required: [id, active, itemCount, messageCount, activityCount, turnCount]
      properties:
        id: { type: string, pattern: "^[0-9a-f]{8}$" }
        active: { type: boolean }
        itemCount: { type: integer, minimum: 0 }
        messageCount: { type: integer, minimum: 0 }
        activityCount: { type: integer, minimum: 0 }
        turnCount: { type: integer, minimum: 0 }
        name: { type: string, maxLength: 500 }
        updatedAt: { type: string, format: date-time }
      additionalProperties: false
    TimelineHistory:
      type: object
      required: [totalItems, messageCount, activityCount, turnCount, branchCount, branches]
      properties:
        totalItems: { type: integer, minimum: 0 }
        messageCount: { type: integer, minimum: 0 }
        activityCount: { type: integer, minimum: 0 }
        turnCount: { type: integer, minimum: 0 }
        branchCount: { type: integer, minimum: 0, maximum: 128 }
        activeBranchId: { type: string, pattern: "^[0-9a-f]{8}$" }
        selectedBranchId: { type: string, pattern: "^[0-9a-f]{8}$" }
        branches:
          type: array
          maxItems: 128
          items: { $ref: "#/components/schemas/TimelineBranch" }
      additionalProperties: false
    TimelineSnapshot:
      type: object
      required:
        - schemaVersion
        - sessionId
        - sessionRevision
        - activeAgentRunId
        - items
        - history
        - hasMore
        - lastEventId
        - capabilities
      properties:
        schemaVersion: { const: ts-phone-timeline/1 }
        sessionId: { $ref: "#/components/schemas/BoundedId" }
        sessionRevision: { $ref: "#/components/schemas/SessionRevision" }
        activeAgentRunId: { $ref: "#/components/schemas/ActiveAgentRunId" }
        items:
          type: array
          maxItems: 500
          items: { $ref: "#/components/schemas/TimelineItem" }
        history: { $ref: "#/components/schemas/TimelineHistory" }
        hasMore: { type: boolean }
        nextBefore: { type: string, pattern: "^[0-9a-f]{8}$" }
        hasLater: { type: boolean, default: false }
        nextAfter: { type: string, pattern: "^[0-9a-f]{8}$" }
        lastEventId: { type: string, minLength: 1 }
        capabilities:
          type: array
          uniqueItems: true
          items: { $ref: "#/components/schemas/SessionCapability" }
      additionalProperties: false
  responses:
    Success:
      description: Authenticated request succeeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Envelope" }
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    NotFound:
      description: Workspace, session, endpoint, or approval not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    SessionConflict:
      description: Session is offline, connecting, stale, has no matching active agent run, or requires resynchronization
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    ServiceUnavailable:
      description: TSPi Worker or deterministic lifecycle preflight is unavailable
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
  requestBodies:
    Activation:
      required: true
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ActivationInput" }
    Rename:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [name, managementRevision]
            properties:
              name: { $ref: "#/components/schemas/DisplayName" }
              managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
            additionalProperties: false
    Lifecycle:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [managementRevision]
            properties:
              managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
            additionalProperties: false
    Purge:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [managementRevision, confirmation]
            properties:
              managementRevision: { $ref: "#/components/schemas/ManagementRevision" }
              confirmation: { type: string, minLength: 1, maxLength: 160 }
            additionalProperties: false
